services:
  db:
    image: postgis/postgis:17-3.5
    environment:
      POSTGRES_DB: gisdb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    depends_on:
      - db
    build: .
    ports:
      - "8000:8000"

volumes:
  postgres_data:
