services:
  db:
    image: postgis/postgis:17-3.5
    environment:
      POSTGRES_DB: gisdb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  django-api:
    build: .
    container_name: django-docker
    ports:
      - "8000:8000"
    depends_on:
      - db    

volumes:
  postgres_data:
