on: 
  pull_request:
    branches: 
      - '**'

jobs:
  ci:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout Code
      uses: actions/checkout@v6

    - name: Install Dependencies
      run: pip install -r ./src/backend/pubfinder/requirements.txt

    - name: Linter
      run: pylint src/backend/pubfinder/

    - name: API Unit Tests
      run: |
        cd src/backend/pubfinder
        echo pwd
        python manage.py test
