on: 
  pull_request:
    branches: 
      - '**'

jobs:
  ci:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout Code
      uses: actions/checkout@v6

    - name: Say Hello World
      run: echo "Hello World"
      
      

