on: 
  pull_request:
    branches: 
      - '**'

jobs:
  ci:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout Code
      uses: actions/checkout@v6

    - name: Check Working Dir
      run: pwd

    # - name: Install Dependencies
    #   run: pip install -r requirements.txt
      
      

